@charset "utf-8";
/*文本框*/
.dform input[type="text"], .dform input[type="password"] {
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0px !important;
    border: 1px solid #D5D5D5;
    padding: 5px 4px;
    line-height: 1.2;
    font-size: 14px;
    font-family: inherit;
    box-shadow: none !important;
    transition-duration: 0.1s;
}
.dform input[type="text"]:hover, .dform input[type="password"]:hover {
    border:1px solid #B5B5B5;
}
.dform input[type="text"]:focus, .dform input[type="password"]:focus {
    border-color: #F59942;
    outline: 0px none;
}
/*按钮*/
input[type="button"],input[type="submit"],.confirmbtnok ,.alertbtnok
{
    background-color:#438EB9;border-color:#438EB9;color: #fff;
    border-width:5px;
    border-style:solid;
    display: inline-block;   
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) !important;
    background-image: none !important;
    border-radius: 0px;
    box-shadow: none !important;
    transition: all 0.15s ease 0s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0px;
    min-width:52px;
    padding:4px 10px;
    position: relative;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    -moz-user-select: none;
    text-transform: none;
    font-family: inherit;
    outline:0px;
}
.alertbtnok:hover,.confirmbtnok:hover,input[type="button"]:hover,input[type="submit"]:hover{background-color:#4F99C6;}

.confirmbtncancel
{
    background-color:rgb(171, 186, 195) !important;
    border-color:rgb(171, 186, 195) !important;
    color: #fff;
    border-width:5px;
    border-style:solid;
    display: inline-block;   
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) !important;
    background-image: none !important;
    border-radius: 0px;
    box-shadow: none !important;
    transition: all 0.15s ease 0s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0px;
    min-width:52px;
    padding:4px 10px;
    position: relative;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    -moz-user-select: none;
    text-transform: none;
    font-family: inherit;
    outline:0px;
}
.confirmbtncancel:hover
{
    background-color:rgb(139, 154, 163) !important;
}
