@charset "utf-8";
.ulleftmenu {
    background-color:#F5F5F5;border-right:1px solid #CCCCCC;width:190px;position:fixed;top:45px;left:0px;bottom:0px;
}
.limenuitem {
    border-bottom:1px solid #E5E5E5;
    cursor:pointer;
    line-height:38px;
    text-indent:10px;
    font-weight:600;
    font-size:13px;
    border-left:3px solid #F5F5F5;
}
.limenuitem:hover {
    background-color:white;
    color:#2B7DBC;
            
}
.limenuitem:hover .ulleftsubitems li {
    color:black;
}
.menuicon {
    margin-right:10px;
}
.arrow-down {
    float:right;line-height:38px;margin-right:20px;
}
.ulleftsubitems {
    background-color:white;
}
.ulleftsubitems li {
    text-indent:60px;   
    background-image:url('../resources/images/menuline.jpg');       
    background-repeat:no-repeat;
    background-position:45px 0px;
    border-bottom:1px dotted #E4E4E4;
}
.ulleftsubitems li:hover {
    color:#2B7DBC !important;
    background-image:url('../resources/images/menuarrow.jpg');   
}