@charset "utf-8";

.tabs {
    border: 1px solid #ddd;
    text-align: left;
    margin: 30px;
}

    .tabs > .hd {
        height: 37px;
        line-height: 30px;
        background: #EFF3F8;
        padding: 0px 20px;
        border-bottom: 1px solid #ddd;
        position: relative;
    }
        .tabs > .hd > ul {
            float: left;
            position: absolute;
            left: 20px;
            top: -1px;
            height: 28px;
            font-size: 14px;
        }

            .tabs > .hd > ul > li {
                float: left;
                padding: 0 25px;
                cursor: pointer;
                background: #2468a9;
                margin-right: 3px;
                margin-top: 5px;
                color: white;
                border: 1px solid #2468a9;
                border-top: 4px solid #2468a9;
            }

                .tabs > .hd > ul > li.on {
                    height: 30px;
                    background: #fff;
                    border-bottom: 2px solid #fff;
                    color: #7DB4D8;
                }

    .tabs > .bd > div {
        padding: 15px;
        zoom: 1;
    }

    .tabs > .bd > div {
        height: 24px;
        line-height: 24px;
    }
