<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ticketing</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>pages/user/home.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.cn.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetByStartEndStationServlet</display-name>
    <servlet-name>GetByStartEndStationServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetByStartEndStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByStartEndStationServlet</servlet-name>
    <url-pattern>/GetByStartEndStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.cn.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTrainServlet</display-name>
    <servlet-name>AddTrainServlet</servlet-name>
    <servlet-class>com.cn.servlet.AddTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrainServlet</servlet-name>
    <url-pattern>/AddTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.cn.servlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagementTrainServlet</display-name>
    <servlet-name>ManagementTrainServlet</servlet-name>
    <servlet-class>com.cn.servlet.ManagementTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagementTrainServlet</servlet-name>
    <url-pattern>/ManagementTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllTrainServlet</display-name>
    <servlet-name>GetAllTrainServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetAllTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTrainServlet</servlet-name>
    <url-pattern>/GetAllTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTrainServlet</display-name>
    <servlet-name>UpdateTrainServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdateTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTrainServlet</servlet-name>
    <url-pattern>/UpdateTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTrainServlet</display-name>
    <servlet-name>DeleteTrainServlet</servlet-name>
    <servlet-class>com.cn.servlet.DeleteTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrainServlet</servlet-name>
    <url-pattern>/DeleteTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPrepServlet</display-name>
    <servlet-name>GetAllPrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetAllPrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPrepServlet</servlet-name>
    <url-pattern>/GetAllPrepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginServlet</display-name>
    <servlet-name>MemberLoginServlet</servlet-name>
    <servlet-class>com.cn.servlet.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/MemberLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegMemberServlet</display-name>
    <servlet-name>RegMemberServlet</servlet-name>
    <servlet-class>com.cn.servlet.RegMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegMemberServlet</servlet-name>
    <url-pattern>/RegMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPrepServlet</display-name>
    <servlet-name>MyPrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.MyPrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPrepServlet</servlet-name>
    <url-pattern>/MyPrepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberCenterServlet</display-name>
    <servlet-name>MemberCenterServlet</servlet-name>
    <servlet-class>com.cn.servlet.MemberCenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCenterServlet</servlet-name>
    <url-pattern>/MemberCenterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPmemberByPmemberIdServlet</display-name>
    <servlet-name>GetPmemberByPmemberIdServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetPmemberByPmemberIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPmemberByPmemberIdServlet</servlet-name>
    <url-pattern>/GetPmemberByPmemberIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePrepServlet</display-name>
    <servlet-name>UpdatePrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdatePrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePrepServlet</servlet-name>
    <url-pattern>/UpdatePrepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePrepServlet</display-name>
    <servlet-name>DeletePrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.DeletePrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePrepServlet</servlet-name>
    <url-pattern>/DeletePrepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePrepAmdinServlet</display-name>
    <servlet-name>DeletePrepAmdinServlet</servlet-name>
    <servlet-class>com.cn.servlet.DeletePrepAmdinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePrepAmdinServlet</servlet-name>
    <url-pattern>/DeletePrepAmdinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPmemberByMemberIdServlet</display-name>
    <servlet-name>GetPmemberByMemberIdServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetPmemberByMemberIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPmemberByMemberIdServlet</servlet-name>
    <url-pattern>/GetPmemberByMemberIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePrepAdminServlet</display-name>
    <servlet-name>UpdatePrepAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdatePrepAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePrepAdminServlet</servlet-name>
    <url-pattern>/UpdatePrepAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberAdminServlet</display-name>
    <servlet-name>DeleteMemberAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.DeleteMemberAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberAdminServlet</servlet-name>
    <url-pattern>/DeleteMemberAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMemberAdminServlet</display-name>
    <servlet-name>UpdateMemberAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdateMemberAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMemberAdminServlet</servlet-name>
    <url-pattern>/UpdateMemberAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.cn.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdminByUserName</display-name>
    <servlet-name>GetAdminByUserName</servlet-name>
    <servlet-class>com.cn.servlet.GetAdminByUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminByUserName</servlet-name>
    <url-pattern>/GetAdminByUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminPassword</display-name>
    <servlet-name>UpdateAdminPassword</servlet-name>
    <servlet-class>com.cn.servlet.UpdateAdminPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminPassword</servlet-name>
    <url-pattern>/UpdateAdminPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePmemberServlet</display-name>
    <servlet-name>UpdatePmemberServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdatePmemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePmemberServlet</servlet-name>
    <url-pattern>/UpdatePmemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePmemberAdminServlet</display-name>
    <servlet-name>UpdatePmemberAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdatePmemberAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePmemberAdminServlet</servlet-name>
    <url-pattern>/UpdatePmemberAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberServlet</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>com.cn.servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePrepServlet</display-name>
    <servlet-name>ChangePrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.ChangePrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePrepServlet</servlet-name>
    <url-pattern>/ChangePrepServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.cn.listener.MemberSessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetMyMemberServlet</display-name>
    <servlet-name>GetMyMemberServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetMyMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyMemberServlet</servlet-name>
    <url-pattern>/GetMyMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMemberPasswordServlet</display-name>
    <servlet-name>UpdateMemberPasswordServlet</servlet-name>
    <servlet-class>com.cn.servlet.UpdateMemberPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMemberPasswordServlet</servlet-name>
    <url-pattern>/UpdateMemberPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlipayServlet</display-name>
    <servlet-name>AlipayServlet</servlet-name>
    <servlet-class>com.cn.servlet.AlipayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayServlet</servlet-name>
    <url-pattern>/AlipayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginOutServlet</display-name>
    <servlet-name>MemberLoginOutServlet</servlet-name>
    <servlet-class>com.cn.servlet.MemberLoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginOutServlet</servlet-name>
    <url-pattern>/MemberLoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountPrepServlet</display-name>
    <servlet-name>CountPrepServlet</servlet-name>
    <servlet-class>com.cn.servlet.CountPrepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountPrepServlet</servlet-name>
    <url-pattern>/CountPrepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllAdminServlet</display-name>
    <servlet-name>GetAllAdminServlet</servlet-name>
    <servlet-class>com.cn.servlet.GetAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllAdminServlet</servlet-name>
    <url-pattern>/GetAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.cn.servlet.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcelServlet</display-name>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>com.cn.servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/ExportExcelServlet</url-pattern>
  </servlet-mapping>
</web-app>